<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivit.androidsdk_sample">

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MapsActivity"
            android:label="Trip map"/>

        <!--Google API Key. Enables the Maps SDK so that trips can be shown on a map. If you choose
        other maps supplier, you can ignore this Key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <!--Google Api Key. Enables the Google Awareness API which Drivit uses in its inner workings.
        You can also use the services enabled by this app, more info here: https://developers.google.com/awareness/overview
        You should NOT ignore this key-->
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="YOUR_API_KEY" />

        <meta-data
            android:name="com.drivit.API_KEY"
            android:value="YOUR_API_KEY" />

    </application>

</manifest>